body {
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  color: black;
}
p {
  color: black;
}

ul{
    height: 50px;
    border-bottom: 3px solid rgb(0, 0, 117);
    display: flex;
    align-items: center;
}

li{
    margin-left: 30px;
}
