body {
  background-color: white;
}
h1 {
  /*font-size: 2vw;*/
  color: black;
}
p {
  /*font-size: 1vw;*/
  color: black;
}

ul{
    height: 50px;
    border-bottom: 3px solid rgb(0, 0, 117);
    display: flex;
    align-items: center;
}

li{
    margin-left: 30px;
}


/*.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}
*/

/main{
  float: none;
  width: 60%; /* The width is 60%, by default */
}*/

/* Use a media query to add a breakpoint at 800px: */
@media all and (min-width: 801px) {
  body{
    /* width: 60%; /*The width is 60%, when the viewport is 801px or bigger */*/
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media all and (max-width: 800px) {
  body{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

}







